.container{
    
    
    margin-top: 5px;
    

}
.dog{
    display: inline-block;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 105vh;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(104, 104, 104);
    border-radius: 3px;  
    background-color: rgb(206, 200, 193); 
     

}

    

  .detail-image{
    width: 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    text-align: center;
    padding: 10px 20px;
  }
   
