body{
    background-color: bisque;
    background-image:url('./assets/dogs2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;;
    margin-top: 650px;
    margin-left:100px;
    margin-right: 100px;
    padding: 50px;
    
    
}
.botonIngresar{
    color: wheat;
    
}
h1{
    color:red;
    border-style:solid black;

}
.landingPageApp{
    color:royalblue;
}