body{
    background-color: rgb(243, 233, 221);
    
    
    
    
}
.image-landingpage{
    background-image:url('./assets/dogs3.jpg') ;
    border: rgb(100, 99, 99) solid;
    border-radius: 5px ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-left:100px;
    margin-right: 100px;
    padding: 100px;
}
.botonIngresar{
    color: rgb(56, 55, 54);
    border-radius: 5px;
    cursor: pointer;
}
.botonIngresar>button:hover{
    background: #ccc;
} 
    

h1{
    color:rgb(78, 74, 74);
    border-style:solid black;

}
.landingPageApp{
    color:royalblue;
}