body{
    margin: 25px;
}
.my-dog{

    width: 30%;
    height: 75%;
    background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 55px;
  padding:50px;
  position: absolute;
  
  
 
  
}
.polaroid{
    text-align: center;
  padding: 10px 20px;
}

.container{
    display:inline;
    
    
    
}
.container>div{
    margin: 10px;
    padding: 20px;
    
    
}
.alfi{
    display:inline;
    margin-bottom: 55px;
  
    position: absolute;;
}
